pandas
numpy
seaborn
flask
scikit-learn
matplotlib
plotly
streamlit
tensorflow
scikit-image
xgboost
joblib
imblearn
google-generativeai
langchain_community
langchain_huggingface
langchain_core
reportlab
dotenv
asyncio
xhtml2pdf
markdown2
PIL

#-e .